@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: #1a2332;
} 

select {
    appearance: none;
    outline: none;
}

option{
    padding: 3px;
    margin: 40px;
}

input:focus{
    outline: 0.1em solid #9fef00;
}

.probs > ul{
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
}

.dark-shadow{
    -webkit-box-shadow: 7px 11px 20px 4px rgba(0,0,0,0.93);
-moz-box-shadow: 7px 11px 20px 4px rgba(0,0,0,0.93);
box-shadow: 7px 11px 20px 4px rgba(0,0,0,0.93);

}